- content_for :page_title do
  = t('settings.installed_qualifiers')

- if @installed_qualifiers.none?
  %p= t('qualifiers.installed.no_qualifiers')
  %br/
  = link_to t('qualifiers.go_to_store'), settings_all_qualifiers_path, class: 'button button-alternative-2 webapp-btn'

- else
  .table-wrapper
    %table.table
      %thead
        %tr
          %th= t('qualifiers.name')
          -# %th= t('qualifiers.active')
          -# %th= t('qualifiers.trial')
          %th= t('qualifiers.enabled')
          %th= t('qualifiers.installed.delete')
      %tbody
        - @installed_qualifiers.each do |installed_qualifier|
          %tr
            %td= link_to installed_qualifier.qualifier.name, settings_installed_qualifier_path(installed_qualifier)
            -# %td= installed_qualifier.active ? t('qualifiers.yes') : t('qualifiers.no')
            -# %td= installed_qualifier.trial ? t('qualifiers.yes') : t('qualifiers.no')
            %td= installed_qualifier.enabled ? t('qualifiers.yes') : t('qualifiers.no')
            %td= table_link_to 'times', '', settings_installed_qualifier_path(installed_qualifier), method: :delete, title: t('qualifiers.installed.delete')
