- content_for :page_title do
  = t('settings.all_qualifiers')

.table-wrapper
  %table.table
    %thead
      %tr
        %th= t('qualifiers.name')
        %th= t('qualifiers.all.owner')
        %th= t('qualifiers.all.ratings_avg')
        %th= t('qualifiers.all.ratings_count')
    %tbody
      - @qualifiers.each do |qualifier|
        %tr
          %td= link_to qualifier.name, settings_all_qualifier_path(qualifier)
          %td= link_to qualifier.account.username, TagManager.instance.url_for(qualifier.account)
          %td= t('qualifiers.all.rating_avg_out_of', avg: qualifier.ratings_avg) unless qualifier.ratings_avg.nil?
          %td= qualifier.ratings_count.floor unless qualifier.ratings_count.nil?
